/*
==============================================
_variables.scss
==============================================
*/
// breakpoints
$larger-than-mobile-sm-breakpoint: 'only screen and (min-width : 320px)';
$larger-than-mobile-breakpoint: 'only screen and (min-width : 375px)';
$larger-than-mobile-lg-breakpoint: 'only screen and (min-width : 425px)';
$larger-than-tablet-breakpoint: 'only screen and (min-width : 768px)';
$larger-than-laptop-breakpoint: 'only screen and (min-width : 1024px)';
$larger-than-desktop-breakpoint: 'only screen and (min-width : 1440px)';
@mixin breakpoint-mobile-sm {
	@media #{$larger-than-mobile-sm-breakpoint} {
		@content;
	}
}
@mixin breakpoint-mobile {
	@media #{$larger-than-mobile-breakpoint} {
		@content;
	}
}
@mixin breakpoint-mobile-lg {
	@media #{$larger-than-mobile-lg-breakpoint} {
		@content;
	}
}
@mixin breakpoint-tablet {
	@media #{$larger-than-tablet-breakpoint} {
		@content;
	}
}
@mixin breakpoint-laptop {
	@media #{$larger-than-laptop-breakpoint} {
		@content;
	}
}
@mixin breakpoint-desktop {
	@media #{$larger-than-desktop-breakpoint} {
		@content;
	}
}
// font sizes
$base-font-size: 16px;
$base-line-height: 24px;
$h1-font-size: 2 * $base-font-size;
$h2-font-size: 1.5 * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1 * $base-font-size;
$h5-font-size: .83 * $base-font-size;
$h6-font-size: .67 * $base-font-size;
// colors
$primary-bg: #fcfcf5;
$yellow: #f0b227;
$brown: #512d1d;
$black: #000;
$white: #fff;
$offwhite: #f2f2f2;
$cream: #fffef7;
$gray: #c0c0c0;
$highlight: #ff0;
$transparent: rgba($white, 0);
$yellow-op-50: rgba($yellow, .5);
$primary-op-50: rgba($primary-bg, .5);
$brown-op-25: rgba($brown, .25);
// fonts
$paragraph-font: 'AkzidenzGroteskBE-Regular';
$heading-font: 'moderno-fb';